@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'menu-modal.css';
@import 'trending.css';


img {
    width: 100%;
}

body {
    background: var(--dark-color);
    color: var(--text-color);
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--dark-color);
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;    
}
.logo {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 0 auto 0 0;
}
.logo span {
    color: var(--main-color);
}

.nav-icons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.nav-icons .bx {
    font-size: 20px;
    height: 44px;
    width: 44px;
    display: grid;
    place-items: center;
    color: var(--text-color);
    background: var(--light-color);
    border-radius: 50%;
    cursor: pointer;
}
#bell-icon {
    position: relative;
}
#bell-icon span {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--main-color);
    position: absolute;
    top: 10px;
    right: 14px;
}

/* Menu icon JS -- X burger */

.menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    height: 44px;
    width: 44px;
    background: var(--light-color);
    border-radius: 50%;
    cursor: pointer;
    z-index: 200;
    transition: .4s;
    
}

.menu-icon div {
    background: var(--text-color);
    height: 2px;
    width: 25px;
    display: block;
    transition: .4s;
}
/* use classlit to move */
.move .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}
.move .line2 {
    opacity: 0;
    transform: translateX(-15px);
}
.move .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* Home Content */

.home {
    position: relative;
    min-height: 540px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5rem;
}
.home img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.4rem;
    z-index: -1;
}
.home-text {
    padding-right: 4rem;
    text-align: right;
}
.home-text h1 {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: var(--dark-color);
    margin-bottom: 1rem;   
}
.btn {
    background: var(--main-color);
    padding: 15px 20px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 2px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%, 0 60%);
}
.btn:hover {
    background-color: var(--light-color);
    transition: .4s all linear;
}